<!Doctype html>
<html>
<head>
      <title>error 404</title>
     <link href="/assets/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>  
<div style="margin:10px 20px;font-family:fantasy">
<h1>HTTP Error 404</h1>
<h2><i class="fa fa-warning" style="color:#e6e600"></i> Page not found!</h2>
<p style="margin:0px 220px"><a href="/"> << Go back</a></p>
</div>
</body>
</html>

