<!Doctype html>
<html>
<head>
   <title>project Manager | about</title>
    <link href="/assets/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/main_page.css" rel="stylesheet" type="text/css" /> 
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">  

    <link href="/assets/add-project.css" rel="stylesheet" type="text/css" />
    <script src="/assets/jquery.min.js"></script> 
    <script src="/assets/bootstrap.min.js"></script> 
    <script src="/assets/custom.js"></script>     
</head>
<body>
        <% include partials/minor_header.ejs %>
  <div class="fbsBackground">
  <div class="fbs" style="height:auto">

 	<img src="/assets/images/step0123.jpg">
 	<p style="margin-top:20px">Users trust <i style="color:#4da6ff">project Manager</i> to help solve problems about project ideas and use <i style="color:#4da6ff">project Manager</i> to find new ideas. We’re committed to making the internet a better place, and our products aim to enrich the lives of developers as they grow and mature in their careers.</p>
    
    <br>
 	<h2>2017 project Manager Statistics</h2>
 	<div class="containor">
    <div class="row">
    <div class="col-lg-4">
     <p>Visits</p>
     <hr>
     <b><h3 style="color:#0066cc">12M</h3></b>
 	</div>
 	<div class="col-lg-4">
      <p>Uploaded projects</p>
     <hr>
     <b><h3 style="color:#0066cc">1346</h3></b>
 	</div>
 	<div class="col-lg-4">
      <p>Downloads</p>
     <hr>
     <b><h3 style="color:#0066cc">300</h3></b>
 	</div>
 	</div>
 	<br><br>
 	<div class="row">
    <div class="col-lg-4">
     <p>Registered users</p>
     <hr>
     <b><h3 style="color:#0066cc"><%= users %></h3></b>
 	</div>
 	<div class="col-lg-4">
      <p>Feedbacks</p>
     <hr>
     <b><h3 style="color:#0066cc">1364</h3></b>
 	</div>
 	<div class="col-lg-4">
      <p>Contacts</p>
     <hr>
     <b><h3 style="color:#0066cc">700</h3></b>
 	</div>
 	</div>
 	<br><br>
 	</div>
    
  </div>
  <div>

<% include partials/minor_footer.ejs %>

 
</body>
</html>