<!Doctype html>
<html>
<head>
   <title>Todo List</title>
</head>
<body>
  <h1>My To Do List</h1>
     <ul>
      <% for(var i=0; i<tests.length; i++){ %>
         <li><%= tests[i].item %></li>
      <% } %>
    </ul>  
 
</body>
</html>