<!Doctype html>
<html>
<head>

</head>
<body>
       

   <br/><br/>


    <form method="post" action="/results">
    <input  type="text" name="q" required />
    <button type="submit">Submit</button> 
    </form>
    

 
</body>
</html>