<!Doctype html>
<html>
<head>
   <title>project Manager</title>
    <link href="/assets/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/main_page.css" rel="stylesheet" type="text/css" /> 
      <link href="/assets/help.css" rel="stylesheet" type="text/css" /> 
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">  

   <link href="/assets/add-project.css" rel="stylesheet" type="text/css" />
    <script src="/assets/jquery.min.js"></script> 
    <script src="/assets/bootstrap.min.js"></script> 
    <script src="/assets/custom.js"></script>       
</head>
<body>
        <% include partials/minor_header.ejs %>


 <div class="dotted_BG">
 <div class="help1">
  <h2>Add Project <i class="fa fa-chain fa-fw"></i></h2>
  <p>This section conatins the add-project option to add an project. On selecting the ADD+ option from menu bar we will go to the add-project page here we have an button 'Add project' click this button after clicking this button you will found an pop-up box.<br> Now follow these two steps to successfully add an project- <br>
     <b>step-1</b>: The pop-up box contains three option(MAjor, Minor, Mini) for project type, select an option and submit.<br> </p>
  <img src="/assets/images/step0001.png" /> 
   <p> <b>step-2</b>: Now fillup the required details about project and click the 'Add' button.<br> </p>
    <img src="/assets/images/step0006.png" /> 
    <p>In this manner you will successfully added the project</p><br>
  
  <br><br>
   <h2>Search Project <i class="fa fa-chain fa-fw"></i></h2>
  <p>The project management application contains a search bar in the header for global project search in this search bar you can search by either project-type(major, minor, mini) or project-name(eg. seat allotement). It looks like - </p>
  <img src="/assets/images/step0004.png" /> 
  <p>After submiting this form you will the get corresponding results, now you can view project details on clicking the resultent link. on this way your searching task will completed. thank you!!</p>
  <img src="/assets/images/step0005.png" /> 

<br><br>
  <h2>Quick Search <i class="fa fa-chain fa-fw"></i></h2>
  <p>The Quick search tool is working in this way that when you will type something then it will autometacillly search for the similler results and display the link of those on the screen, there is no need to submit the form.</p>
  <img src="/assets/images/step0002.png" /> 

 </div>
</div>

<% include partials/minor_footer.ejs %>

 
</body>
</html>