<!Doctype html>
<html>
<head>
      <title>Signin | Project Manager</title>
     <link href="/assets/signup.css" rel="stylesheet" type="text/css" />
     <link href="/assets/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body class="body1">


    <a href="/"><img src="/assets/images/logo.png"></a>

    <div class="box effect5" style="height:530px">
        <h2>Sign In</h2>
        <h5>to continue to Project Manager</h5>

        <% if(errors.length>0){ %>
<div id="myAlert"  class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-label="close">
    <span aria-hidden="true">&times;</span>
  </button>
  <b><%= errors %></b>
</div>
<% } %>

     <form method="POST" action="/login">
      <label>Enrollment</label>
      <input type="text" name="Enrollment" placeholder="14103103" required />
      <label>DOB</label>
      <input type ="text" name = "DOB" placeholder="dd/mm/yy" required />
       <label>Password</label>
      <input type="password" name="password" placeholder="*******" required />
      <input type="text" name="name" value="" placeholder="Full Name" style="display:none"> 
      <input type="email" name="email" value="" placeholder="example@gmail.com" style="display:none"> 
      <input type="text" name="mob" value="" placeholder="+91" style="display:none">
      <hr>
      <button type="submit" class="btn btn-info">Submit</button>
    </form>
    <br><br>
    <center>
    <p>© 2017 project Manager <a href="#"><b>Privacy Policy</b></a></p>
  </center>
      </div>



        <script>
$(document).ready(function(){
          setTimeout(function(){
   $('#myAlert').hide('fade');
  }, 2000);

});
</script>

</body>
</html>

