* {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.ticker-container {
	height:400px;
	width: 100%;
	text-align: center;
	position: relative;
	overflow: hidden;
	/*background-color: rgba(0,0,0,1);
	color: white; 
	background-color: white;
	color: black;*/
	font-size: 1.1em;
	margin-bottom: 15px;
	margin-left:7px;
}
.ticker-container ul {
	list-style: none;
	padding: 0;
	height: auto;
}
.ticker-container ul div {
	overflow: hidden;
	position: absolute;
	z-index: 0;
	display: inline;
	min-width: 100%;
	left: 0;
	height:400px;
	transition: 0.25s ease-in-out;
}
.ticker-container ul div.ticker-active {
	top: 30px;
}
.ticker-container ul div.not-active {
	top: 700px;
}
.ticker-container ul div.remove {
	top: 0;
}
.ticker-container ul div li {
	padding: 5px 0;
}
.ticker-container ul div li a {
	color: #EC0B43;
}

@media (min-width: 500px) {
	.ticker-container {
		height: 400px;
	  text-align: left; 
	}
	.ticker-container ul {
		margin-left:0px;
		height: 100%;
		height:400px;
	}
	.ticker-container ul div {
		height: 100%;
		left:0px;
	}
	.ticker-container ul div.ticker-active {
		top: 0;
	}
	.ticker-container ul div.not-active {
		top: 700px;
	}
	.ticker-container ul div.remove {
		top: -50px;
	}
}

@media (min-width: 768px) {
  .ticker-container {
    margin-bottom: 10px;
  }
}

@media (min-width: 992px) {
  .ticker-container {
    margin-bottom: 20px;
  }
}


.progress-bar{
	
	animation:progress 5s infinite;
}
@keyframes progress{
	from{width:1%} to{width:100%}
}