.body1{
	background: #ccc;
}
.body1 img{
  width:25%;
  float:left;
}
.box {
    width:50%;
    height:600px;
    background:#FFF;
    margin:40px auto;
    padding: 20px 10px;
    float: left;
}
.box h2{
  #text-align:center;
}
.box p{
    top:10px;
    font-family: serif;
}
.effect5
{
  position: relative;
}
.effect5:before, .effect5:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
  #animation: text1 3s infinite;
}
@keyframes text1{from{transform: rotate(-8deg);} to{transform: rotate(8deg);}}
.effect5:after
{
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(10deg);
  right: 10px;
  left: auto;
  	#animation: text2 3s infinite;
}
@keyframes text2{from{transform: rotate(8deg);} to{transform: rotate(-8deg);}}
.div1{
	width: 40%;
	height: 600px;
	margin:2% 25%;
	background-color: rgba(0, 38, 77,0.5); 
 border: 5px solid hsl(0, 0%, 40%);
 padding: 5px;
  background: hsl(0, 0%, 20%);
  outline: 5px solid hsl(0, 0%, 60%);
  box-shadow:
      0 0 0 10px hsl(0, 0%, 80%),
      0 0 0 15px hsl(0, 0%, 90%);
}



 .box input[type="text"],input[type="email"],input[type="password"] {
	padding:10px 10px 10px 10px;
	width:100%;
	border:1px solid  #f5f5ef;
	text-align:left;
	outline:none;
	background:rgba(0, 0, 0, 0);
	font-family: 'Muli', sans-serif;
	font-size:16px;
	#height:50px;
}
.box button{
	font-weight: bold;
}